@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Noto Sans","Noto Sans KR", sans-serif; color: #333; background-color: #eef0f4;}
.header{width: 100%; position: fixed; left: 0; top: 0; height: 106px; background-color: #fff; z-index: 100; }
.h_top{height: 36px; background-color: #eee;}
.gnb{display: flex; justify-content: flex-end;margin-right: 20px;}
.gnb>li{line-height: 36px; display: flex; align-items: center; position: relative;}
.gnb>li>a,.gnb>li button{padding: 0 10px; font-size: 12px; color: #666;}
.gnb>li:nth-child(1)~ li::before{content: "";height: 10px;border-left: 1px solid #b8b8b8;}
.lang{position: absolute;border: 1px solid #ddd; background-color: #fff; top:30px; width: 100%; z-index: 10;}
.lang>li>a{text-align: center; display: block;line-height: 30px; font-size: 14px;}
.lang>li:nth-child(1)~li{border-top: 1px solid #ddd;}

.nav{height: 70px;display: flex; justify-content: center; align-items: center; position: relative;}
.logo{position: absolute;left: 20px;}
.menu{display: flex; width: 1240px; justify-content: space-between;padding: 0 250px;}
.menu>li{flex: 1; text-align: center; display: flex; align-items: center; position: relative;}
.menu>li>a{width: 100%; color: #000; font-size: 18px;}
.menu>li:nth-child(1)~li::before{content: "";height: 20px; border-left: 1px solid #ddd;}
.h_icons{display: flex;position: absolute;right: 20px; align-items: center;}
.h_icons>li{margin-left: 10px;}
.h_icons>li:nth-child(1)>a{background-color: #154283; color: #fff;display: block;padding: 5px 15px; font-size: 14px;}
/*스크롤내렸을때 nav의 스타일변경*/
.fixed{background-color: #154283;}
.fixed .menu>li>a{color: #fff;}
.fixed .h_icons>li:nth-child(1){border: 1px solid #fff;}
.fixed .logo{background: url(../imgs/logo_w.png) no-repeat;}
.fixed .logo img{opacity: 0;}
.fixed .h_icons>li img{opacity: 0;}
.fixed .h_icons>li:nth-child(2){background: url(../imgs/h_icon1_w.png) no-repeat;}
.fixed .h_icons>li:nth-child(3){background: url(../imgs/h_icon2_w.png) no-repeat;}
.mobile{display: none;}
/*서브메뉴*/
.menu>li>a{line-height: 65px;}
.sub{position: absolute; left: 0; top: 100%;width: 100%; border-top: 5px solid #fff; color: #fff; text-align: left; padding-top: 20px; height: 500px; z-index: 5;}
.sub>li>a{display: flex; padding-left: 15px; min-height: 40px; align-items: center;}
.sub::before{content: "";display: block; position: absolute;left: 0; height: 50%; border: 1px dotted rgba(255,255,255,0.2); top: 15%;}

.menu>li:hover>.sub{border-color: #C6492A; background-color: #eee; color: #333;}
.sub a:hover{background-color: #C6492A; color: #fff;}

.sub_bg{position: absolute; z-index: 4;left: 0; top:70px; width: 100%; height: 520px;  background:#304758; }
.bg_title{width: 230px;padding-top: 20px;text-align: right; padding-right: 15px; box-sizing: border-box; height: 100%; background: url(../imgs/sub_bg.png) no-repeat right bottom; ;}
.bg_title img{width: 70%;}


/*header의 미디어쿼리*/
@media all and (max-width:1400px){
.menu{padding: 0 180px;}
.bg_title{width: 150px;}
.bg_title img{width: 80%;}

}
@media all and (max-width:1200px){
 .menu,.h_icons, .sub_bg{display: none;}
 .mobile{display: block;}
 .m_btn{position: absolute; right: 20px; top: 18px; cursor: pointer;}
 .m_nav_bg{position: fixed; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.6); left: 0; top: 0;}
 .m_close{position: absolute;z-index: 10; right: 5px; top: 10px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; cursor: pointer;}
 .m_close>span{position: absolute;width: 80%;border-top: 3px solid #fff;}
 .m_close>span:nth-child(1){transform: rotate(45deg);}
 .m_close>span:nth-child(2){transform: rotate(-45deg);}

 .m_nav{width: 310px; background-color: #1d59ae;height: 100vh; position: absolute; right: -320px; top: 0; transition: all 0.5s;}
 .m_nav_active{right: 0;}

 .m_nav_top{color: #fff;height: 60px; display: flex; align-items: center;padding: 0 10px;}
 .m_nav_top>li{margin-left: 10px;}
 .m_nav_top>li:last-child{display: flex;align-items: center;}
 .m_nav_top>li:last-child::before{content: ""; height: 10px; border-left: 1px solid rgba(255,255,255,0.5);margin-right: 10px;}
 /*m_menu*/
  .m_menu{background-color: #fff; height: calc(100vh - 60px); overflow: auto;}
 .m_menu>li{line-height: 55px;}
 .m_menu>li a{display: block;padding-left: 20px;}
 .m_menu>li>a{font-size: 18px; color: #000; border-top: 1px solid #ddd;}
 .m_sub{background-color: #ECEDEF; line-height: 55px;}
 .m_sub a{border-top: 1px solid #e2e2e2;}

 li.m_menu_active>a{background-color: #154283; color:#fff;border:none; display: flex; justify-content: space-between; align-items: center;}
 li.m_menu_active>a::after{content: ""; width: 20px; border-top: 3px solid #fff; margin-right: 20px;}

 .m_nav_bg_box{width: calc(100% - 310px); height: 100vh;}
}

.main{width:100%; max-width: 1240px; margin: 0 auto; height: 665px; background-color: #d5e6ff; position: relative; overflow: hidden; margin-top: 106px;}
.main .swiper-slide{overflow: hidden; display: flex; justify-content: center; align-items: center;}
.main .swiper-slide img{height: 100%; }

.btn{position: absolute;z-index: 2; top: 50%; cursor: pointer;}
.btn_prev{left: 0;}
.btn_next{right: 0;}

.main .swiper-pagination-bullet{background-color: #fff; opacity: 1; border-radius: 0%; width: 10px; height: 10px; vertical-align: middle; margin: 0 10.5px !important;}
.main .swiper-pagination-bullet-active{background: none; border: 4px solid #fff;}
.main .swiper-pagination{bottom: auto; top: 80px; left: auto; right: 0; width: 30%;}
.main .swiper-pagination::before{position: absolute;content: ""; display: block;width: 16px; border-top:1px solid #fff; left: 44%; top: 13px;}

.main .swiper-pagination::after{position: absolute;content: ""; display: block;width: 16px; border-top:1px solid #fff; left: 52%; top: 13px;}

.main_ctrls{position: absolute; z-index: 10; top: 82px; right: 11%;}
.main_ctrls>li{position: absolute; width: 20px; height: 20px; background-color: rgba(0,0,0,0.2); display: flex; justify-content: center; align-items: center; cursor: pointer;}

/*main 미디어쿼리*/
@media all and (max-width:1559px){
 .main{max-width: 100%; height: 40vw; max-height: 665px}
 .main .swiper-slide{display: flex; justify-content: center; align-items: center;}
}
@media all and (max-width:1300px){
 .main{min-height:340px};

}
@media all and (max-width:1200px){
 .header{position: absolute;}

}
@media all and (max-width:768px){
 .main{padding-bottom: 30px; background: none;}
 .main .swiper-pagination{top: auto; bottom: 0; width: 100%;}
 .main .main_ctrls{top: auto; bottom: 20px; right: 40%;}
 .main .swiper-pagination-bullet{background-color: #000;}
 .main .swiper-pagination-bullet-active{border-color: #000; background: none;}
 .main .swiper-pagination::before{border-top:1px solid #000; left: 46%;width: 15px;}
 .main .swiper-pagination::after{border-top:1px solid #000; left: 51%;width: 15px;}

}



.contents{width:100%; max-width: 1240px;margin: 0 auto; padding: 30px 0;}

.con1{display: flex;}
.con1>li{width: 25%; background-color: #fff; height: 64px;}
.con1>li:nth-child(1)~li{border-left: 1px solid #ddd;}
.con1>li>a{display: flex;width: 100%; height: 100%;justify-content: center; align-items: center;}
.con1>li>a img:nth-child(1){margin-right: 5px; }
.con1>li>a span{margin-right: 5px;}

.con1>li>a:hover img:nth-child(1){transform: rotateY(360deg);transition: all 0.7s;}

/*con2*/
.con2{display: flex; flex-wrap: wrap; justify-content: space-between;margin-top: 30px;}
.con2box{width: 32%; height: 265px; background-color: #fff; margin-bottom: 25px;}
.box1{position: relative; overflow: hidden;}
.box1 .swiper-slide img{width: 100%; height: 100%;}
.box1_ctrls{position: absolute; left: 0; bottom: 0;width: 100%; height: 60px; display: flex; background-color: rgba(0,0,0,0.6); z-index: 2; justify-content: space-between; color: #fff; align-items: center; box-sizing: border-box; padding: 0 15px;}
.box1_btns{display: flex;}
.box1_btns>li:nth-child(1){ position: static;}
.box1_btns>li:nth-child(1)~ li{width: 20px; height: 20px; cursor: pointer; display: flex; justify-content: center; align-items: center; margin-right: 10px;}
.box1_btns>li:nth-child(3) img{position: absolute;}
.box1 .swiper-pagination-current{text-decoration: underline;}


.box2{background: #fff url(../imgs/time.png) 95% 15px no-repeat; box-sizing: border-box; padding: 20px;}
.box2>h2{margin-bottom: 10px;}
.box2>p{font-size: 13px;}
.box2>ul{margin-top: 20px;}
.box2>ul>li{display: flex; align-items: center; margin-bottom: 5px;}
.box2>ul>li>span{width: 40px; height: 40px; border-radius: 50%; border: 1px solid #154283;text-align: center;font-size: 10px; font-weight: bold; color: #154283; margin-right: 5px; align-items: center;}
.box2>ul>li>p{font-size: 12px; height: 40px;}

.box3{box-sizing: border-box; padding: 20px 30px;}
.box3>div{display: flex; justify-content: space-between; align-items: flex-end;padding: 20px 0;}
.box3>div:nth-child(1){border-bottom: 1px solid #ddd;}
.box3_title>p:nth-child(1){color: #154283; font-weight: bold; font-size: 20px;}
.box3_title>p:nth-child(2){font-size: 14px; margin-top: 10px;}
.box3>div>a{border: 1px solid #999;padding: 5px 20px;}
.box3>div>a img{transition: all 0.3s;}
.box3>div>a:hover img{transform: translate(10px,0);}

.box4{background: #fff url(../imgs/mcont1_box1_bg.gif) no-repeat right 50px; box-sizing: border-box; padding: 30px;}
.box4>p:nth-child(1){ color: #999; font-size: 14px;}
.box4>p:nth-child(2){margin-top: 10px; color: #000; font-size: 18px;}
.box4>p:nth-child(3){ font-weight: bold; color: #154283;margin-top: 3px;}
.box4list{display: flex; flex-wrap: wrap; margin-top: 20px; width: 70%;line-height: 30px;}
.box4list>li{margin-bottom: 5px; }
.box4list>li:nth-child(1){width: 100%;}
.box4list>li:nth-child(1)~ li{width: 50%;}
.box4list>li>a{display: flex; align-items: center;}
.box4list>li>a span:nth-child(1){width: 22px; height: 22px; background: url(../imgs/mcont1_ir-icon.png) no-repeat; margin-right: 3px;}

.box4list>li:nth-child(2) span:nth-child(1){background-position: -22px;}
.box4list>li:nth-child(3) span:nth-child(1){background-position: -44px;}
.box4list>li:nth-child(4) span:nth-child(1){background-position: -66px;}
.box4list>li:nth-child(5) span:nth-child(1){background-position: -88px;}
.box4list>li>a:hover{color: #154283;}
.box4list>li:nth-child(1)>a:hover span:nth-child(1){background-position: -110px;}
.box4list>li:nth-child(2)>a:hover span:nth-child(1){background-position: -132px;}
.box4list>li:nth-child(3)>a:hover span:nth-child(1){background-position: -154px;}
.box4list>li:nth-child(4)>a:hover span:nth-child(1){background-position: -176px;}
.box4list>li:nth-child(5)>a:hover span:nth-child(1){background-position: -198px;}

.box5{box-sizing: border-box; padding: 20px;}
.tab_title{display: flex; position: relative; align-items: center; border-bottom: 1px solid #acacac;}
.tab_title>li{cursor: pointer;padding: 5px; line-height: 40px; font-size: 18px; display: flex; align-items: center; position: relative}
.tab_title>li:nth-child(3){position: absolute; right: 15px; font-weight: bold; font-size: 30px; top: -3px;}
.tab_title>.active{color: #154283;}
.tab_title>li:nth-child(2)::before{content: "";width: 5px; height: 5px; background-color: #9c9c9c;margin-right: 10px;}
.tab_title>.active::after{content: "▲";position: absolute;left: 35%;bottom: -20px;}


.tab_box{padding: 10px; }
.notice{font-size: 14px;}
.notice>li{display: flex; justify-content: space-between; line-height: 200%;}
.notice>li>a{width: 70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


.box6{box-sizing: border-box; padding: 20px; display: flex; justify-content: space-between; align-items: center;}
.box6_left>p:nth-child(1){color: #154283; font-weight: bold; font-size: 20px;}
.box6_left>p:nth-child(2){margin-bottom: 40px; font-size: 14px; margin-top: 10px;}
.box6_left>a{display: flex; font-size: 13px; width: 150px; align-items: center; border: 1px solid #999; box-sizing: border-box;padding:5px 10px; justify-content: space-between;margin-bottom: 10px; transition: all 0.3s;}
.box6_left>a:hover{color: #000;}


@media all and (max-width:1559px){
 .contents{max-width: 100%;}
 .con2{padding: 0 20px;}

}
@media all and (max-width:1090px){
 .con1>li>a img:nth-child(1){display: none;}
}
@media all and (max-width:1024px){

 .con2box{width: 49%;}
}

@media all and (max-width:960px){
 /*두개씩 두줄로 보기*/ 
 .con1{flex-wrap: wrap;}
 .con1>li{width: 50%; box-sizing: border-box;}
 .con1>li:nth-child(2)~li{border-top:1px solid #ddd}
}
@media all and (max-width:768px){
 .contents{padding: 30px 15px; box-sizing: border-box;}
 .con2{padding: 0;}
 .con2box{width: 100%;}

}


/*footer*/
.footer{background-color: #3b3b3d; color: #eee; font-size: 14px; padding: 20px 0;}
.f_top{width: 95%; max-width: 1240px; margin: 0 auto; display: flex; padding-bottom: 15px; border-bottom: 1px solid rgba(255,255,255,0.2); justify-content: space-between;}
.f_menu{display: flex; align-items: center;}
.f_menu>li{display: flex; align-items: center;}
.f_menu>li>a{padding: 0 15px; line-height: 30px;}
.f_menu>li:nth-child(1)>a{background-color: #154283;}
.f_menu>li:nth-child(3){color: orange;}
.f_menu>li:nth-child(2)~ li::before{content: ""; height: 15px; border-left: 1px solid #eee;}

.copyright{color: #999;}
.family{display: flex;}
.family>li{margin-left: 10px; width: 150px; position: relative;}
.family>li button{width: 100%; text-align: left; padding: 5px 10px; display: flex; justify-content: space-between; align-items: center;}
.family>li button::after{content: "▲"; font-size: 7px;}
.family_list{position: absolute; left: 0; bottom: 100%; background-color: #fff; color: #333; border: 1px solid #999; width: 100%; box-sizing: border-box; line-height: 27px; max-height: 400px; overflow: auto;}
.family_list>li>a{display: block; padding-left: 10px; border-bottom: 1px solid #999;}

.f_bottom{width: 95%; max-width: 1240px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; padding-top: 20px; padding-left: 200px; /*background: url(../imgs/f_logo.png) no-repeat left center;*/ box-sizing: border-box;}

.f_icons{display: flex; align-items: center;}
.f_icons>img{height: 50px; margin: 0 10px;}
.sns{display: flex; align-items: center;}
.sns>li{margin: 0 5px;}


/*footer 미디어쿼리*/
@media all and (max-width:1559px){
  .f_top{width: 100%; max-width: 97%;}
  .f_bottom{padding-left: 0; background: none;}
}
@media all and (max-width:1129px){
  .f_top{flex-direction: column; align-items: center;}
  .f_menu{margin-bottom: 20px;}
  .family{width: 100%; justify-content: space-between;}
  .family>li{width: 32%; margin: 0;}

  .f_bottom{flex-direction: column;}
  .copyright{margin-bottom: 15px;}
}
@media all and (max-width:768px){
  .f_menu{flex-direction: column; width: 100%;}
  .f_menu>li{width: 100%; border: 1px solid rgba(255,255,255,0.2); margin: 5px 0;}
  .f_menu>li>a{width: 100%; text-align: center;}
  .f_menu>li::before{display: none;}
  .f_icons{flex-direction: column;}
  .sns{margin: 10px 0;}
}